<!DOCTYPE html>
{% extends '../base.html' %}

{% block body_block %}

<br>
{{ message_before }}
<form action="" method="post">
    {% csrf_token %}
    <div class="userDetails">
        <hr/>
        <h3>Please enter in either your username or library card number below</h3>
        {{ form.username }}
        <br/><br/>
        <p>or</p>
        {{form.library_card_number}}
        <hr/>
        <h3>Please enter your password below</h3>
        {{ form.password }}
        <br/><hr/><br/>
        <input class="btn btn-primary btn-lg" type="submit" value="Submit">
    </div>
    {{ message_after }}
</form>
{% endblock body_block %}