<!DOCTYPE html>
{% extends '../base.html' %}
{% block body_block %}

<div class="row m-3">
    <div class='col-4'>
        <h4>Library Card Number: {{custom_user.library_card_number}}</h4>
        <p>Display name: {{custom_user.display_name}}</p>
        <p>Email: {{custom_user.email}}</p>
        <p>Date joined: {{custom_user.signup_date}}</p>
        <p>Are you a librarian? -> {% if custom_user.is_librarian %} Yes {% else %} No {% endif %}</p>
    </div>
    <div class='col-8'>
        {% include '../custom_user/profile_books.html' with book=book books_checkedout=books_out books_onhold=books_hold %}
    </div>
</div>

{% endblock body_block %}