<nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="checkout-tab" data-toggle="tab" href="#checkout" role="presentation" 
            aria-controls="checkout" aria-selected="true">Checked out</a>
        <a class="nav-item nav-link" id="onhold-tab" data-toggle="tab" href="#onhold" role="presentation" 
            aria-controls="onhold" aria-selected="false">On hold</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">
        <h4>Books you have checked out:</h4>
        <br>
        <div class="d-flex flex-wrap">
            {% for book in books_checkedout %}
                <blockquote class="profile_books cyan" 
                     tabindex="0" 
                     data-html='true' 
                     data-toggle="popover" 
                     data-placement="top" 
                     data-trigger="focus" 
                     data-content='<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
                                        <a class="btn btn-outline-info" href="../digital_books/{{book.id}}">View</a>
                                        <a class="btn btn-outline-info" href="{{book.URL}}" target="_blank">Read now</a>
                                        <a class="btn btn-outline-info" href="../digital_books/{{book.id}}/checkin?next=/profile">Return book</a>
                                   </div>'
                >
                    <p class="text-truncate mb-0">{{book.title}}</p>
                    <span class="text-truncate blockquote-footer">By {{book.author_last}}, {{book.author_first}}</span>
                </blockquote>
                {% empty %}
                <p> No books currently checked out </p>
                <hr/>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="onhold" role="tabpanel" aria-labelledby="onhold-tab">
        <h4>Books you have on hold:</h4>
        <br>
        <div class="d-flex flex-wrap">
            {% for book in books_onhold %}
                <blockquote class="profile_books magenta" 
                     tabindex="0" 
                     data-html='true' 
                     data-toggle="popover" 
                     data-placement="top" 
                     data-trigger="focus" 
                     data-content='<div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
                                        <a class="btn btn-outline-info" href="../digital_books/{{book.id}}">View</a>
                                   </div>'
                >
                    <p class="text-truncate mb-0">{{book.title}}</p>
                    <span class="text-truncate blockquote-footer">By {{book.author_last}}, {{book.author_first}}</span>
                </blockquote>
                {% empty %}
                <p> No books currently on hold </p>
                <hr/>
            {% endfor %}
        </div>
    </div>
</div>