* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
  position: sticky;
  bottom: 0;
}

body h1 {
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  flex-direction: row;
  background-color: #333;
  padding: 10px 12px;
}

.brand {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem !important;
  font-weight: bolder;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  align-self: center;
  line-height: 1.5rem;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 0.5rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* The "signed in as" tag in header */
.signedIn {
  color: #f2f2f2;
  text-align: center;
  align-self: center;
  text-decoration: none;
  font-size: 1rem;
}

.spacer {
  flex: 1;
}

.bg_book {
  background-image: url("../img/book_edge.png");
  background-size: cover;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.5rem solid brown;
  margin: 0.5rem;
  filter: brightness(1.05);
}

.bg_book:hover {
  transform: translateY(-5px);
}

.profile_books {
  width: 16rem;
  height: 4.5rem;
  background-image: url("../img/book_edge.png");
  background-size: cover;
  color: black;
  text-align: center;
  border-radius: 0.5rem;
  border-left: none !important;
  border-right: none !important;
  padding: 0.3rem;
  margin: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  filter: brightness(1.05);
}

.green {
  border: 0.5rem solid rgb(38, 202, 38);
}

.orange {
  border: 0.5rem solid orange;
}

.filter-box {
  flex-grow: 1;
}

.bg-transparent {
  background-color: rgb(255, 255, 255, 0.2) !important;
}

.bg_cover {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.9;
  z-index: -1;
}

.bg_home {
  background: #000 url("../img/books.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg_allbooks {
  background: #000 url("../img/all_books.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bg_bookform {
  background: #000 url("../img/book_form.png") no-repeat center center fixed;
  background-size: cover;
}

.fade_in {
  animation: black_bg 1s ease-in;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1rem;
  animation: title_bg 2s;
}

@keyframes black_bg {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes title_bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
