<!DOCTYPE html>
{% extends '../base.html' %}
{% block body_block %}
<h1>About This Book</h1>

<div class="d-flex">
    <h3 class="flex-grow-1">{{ book.title }}</h3>
    {% if user.is_superuser and user.is_authenticated %}
    <a href="{% url 'update_book' book.id %}" class="material-icons btn text-primary border-primary">create</a>
    {% include '../digital_books/book_delete.html' with id=book.id %}
    {% endif %}
</div>
<p>{{ book.author_last }}, {{book.author_first}}</p>
<p>{{ book.description }}</p>
<p>{{ book.language }}</p>


<br>
<br>
{% if user.is_authenticated %}

    {% if checkout %}
        <p>Read online now: <a href={{ book.URL }} target="_blank">{{ book.URL }}</a> </p>
        <a style="background-color: skyblue" href="{% url 'checkin' book.id %}">Return Book</a>
    {% elif book.available == True%}
        <a style="background-color: red;" href="{% url 'checkout' book.id %}">Check Out</a>
    {% elif held == True%}
    <a style="background-color: red;" href="{% url 'remove_hold' book.id %}">Remove Hold</a>
    <br>
    You are hold number {{line_number}}
    {% else %}
        <a style="background-color: red;" href="{% url 'hold' book.id %}">Place Hold</a>
        <br>
        There are currently {{book.holds.count}} holds on this item.
    {% endif %}

{% endif %}

{% endblock body_block %}