<!DOCTYPE html>
{% extends '../base.html' %}
{% block body_block %}
<div class="display-flex flex-column">
<div class="card-group">
    <div class="card p-2 bg-light mb-3">
        <h5 class="card-header">Filter By Language:</h5>
        <div class="list-group-item">
            {% for language in languages %}
                <a href="{% url 'all_books'%}?language={{language}}">{{language}}</a>
            {% endfor %}
            <br/><br/>
        </div>
        <a class="btn btn-secondary float-left" href="{% url 'all_books'%}">Show All Languages</a>
    </div>

    <div class="card p-2 bg-light mb-3">
        <h5 class="card-header">Filter Titles By:</h5>
        <div class="list-group-item">
            {% for letter in letters %}
                    <a href="{% url 'all_books'%}?title_filter={{letter}}">{{letter}}</a>
            {% endfor %}
        </div>
        <a class="btn btn-secondary float-left" href="{% url 'all_books'%}?sort=sort_title">Sort All By Title</a>
    </div>
    <div class="card p-2 bg-light mb-3">
        <h5 class="card-header">Filter Authors By:</h5>
        <div class="list-group-item">
            {% for letter in letters %}
                    <a href="{% url 'all_books'%}?author_filter={{letter}}">{{letter}}</a>
            {% endfor %}
        </div>
        <a class="btn btn-secondary float-left" href="{% url 'all_books'%}?sort=author">Sort All by Author</a>
    </div>
</div>
<div class="container">
<h1>Available Books</h1>
<div class="row row-cols-3">
    {% for book in books %}
    <div class="p-2">
        <a href='{{book.id}}' class="bg_book col card text-center shadow-sm"
            style="border: 0.5rem solid {{color}}; border-left: none; border-right: none;">
            <h5 class="text-truncate">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-truncate">By {{ book.author_last }}, {{book.author_first}}</h6>
        </a>
    </div>
    {% empty %}
            <br/>
            <p> => Sorry, no books match your search parameters. </p>
    {% endfor %}
</div>
</div>
</div>
{% endblock body_block %}