<!DOCTYPE html>
{% extends '../base.html' %}
{% block body_block %}
<h1>All Available Books</h1>
<div class="row row-cols-3">
    {% for book in books %}
    <div class="p-2">
        <a href='{{book.id}}' class="bg_book col card text-center shadow-sm"
            style="border: 0.5rem solid {{color}}; border-left: none; border-right: none;">
            <h5 class="text-truncate">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-truncate">By {{ book.author }}</h6>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock body_block %}